
.container{
    text-align: center;
    border: 2px solid yellowgreen;
    box-shadow: 10px 10px 10px gray;
    width: 200px;
    margin-top: 50px;
     margin-left: 390px; 
   background-color: greenyellow;
}
table{
    margin: auto;
    /* display: inline-block; */
}
.out{
    border: 3px solid black;
    margin-bottom: 5px;
    
}
button{
    width: 40px;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
}
